/**********SLIDER OF THE PAGE**********/
.slider img {
    width: 100%;
    box-shadow: 10px 10px 5px #666666;
    min-height: 250px;

    max-height: 400px;
    max-width: 100%;

}

/*Fading animation*/
.slider {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    max-width: 100%;
    height: auto;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

